<?xml version="1.0" encoding="UTF-8"?>
<odoo>
    <menuitem id="market_management_menu"
              name="Market Management"
              sequence="17"/>
    <menuitem id="menu_market_root_menu"
              name="Market"
              parent="market_management_menu"/>

    <menuitem id="menu_market"
              name="Markets"
              parent="menu_market_root_menu"
              action="action_market"
              sequence="19"/>
    <menuitem id="menu_shop_root"
              name="Shops"
              parent="market_management_menu"
              sequence="20"/>
     <menuitem id="menu_Bill"
              name="Bill"
              parent="menu_market_root_menu"
              action="action_shop_bill"
              sequence="21"/>
        <menuitem id="menu_shop"
              name="Shops"
              parent="menu_shop_root"
              action="action_shop"
             />
      <menuitem id="menu_shop_tenant"
                  name="Shop Tenant"
                  parent="menu_shop_root"
                  action="action_shop_tenant"
                  />

    <menuitem id="menu_staff_management"
              name="Staff"
              parent="menu_market_root_menu"
              action="action_staff_management"/>
    <menuitem id="menu_lease_agreement"
              name="Lease Agreements"
              parent="menu_shop_root"
              action="action_lease_agreement" />
</odoo>
