<?xml version="1.0" encoding="UTF-8"?>
<odoo>

    <menuitem id="market_management_menu"
              name="Market Management"
              sequence="17"/>


    <menuitem id="menu_market_root_menu"
              name="Market"
              parent="market_management_menu"/>

    <menuitem id="menu_market"
              name="Markets"
              parent="menu_market_root_menu"
              action="action_market"
              sequence="19"/>
    <menuitem id="menu_shop_root"
              name="Shops"
              parent="market_management_menu"
              sequence="20"/>
    <menuitem id="menu_Bill"
              name="Bill"
              parent="menu_market_root_menu"
              action="action_shop_bill"
              sequence="21"/>
    <menuitem id="menu_shop"
              name="Shops"
              parent="menu_shop_root"
              action="action_shop"
    />
    <menuitem id="menu_shop_tenant"
              name="Shop Tenant"
              parent="menu_shop_root"
              action="action_shop_tenant"
    />


      <menuitem id="menu_parking_management"
              name="Parking"
              parent="market_management_menu"/>

    <menuitem id="menu_parking_transaction"
              name="Parking Transactions"
              parent="menu_parking_management"
              action="parking_transaction_action"/>

    <menuitem id="menu_parking_space"
              name="Parking Spaces"
              parent="menu_parking_management"
              action="parking_space_action" />

    <menuitem id="parking_security_menu"
              name="Security Cameras"
              parent="menu_parking_management"
              action="action_security_camera"/>

<!--       <menuitem id="menu_sale_order_custom"-->
<!--              name="Sale Orders"-->
<!--              parent="menu_market_root_menu"-->
<!--              action="action_sale_order_custom"/>-->


   <menuitem id="menu_employee_management"
              name="Employee"
              parent="market_management_menu"/>

    <menuitem id="menu_hr_employee"
              name="Employees"
              action="hr.open_view_employee_list_my"
              parent="menu_employee_management"/>

    <menuitem id="hr_menu_contract"
              name="Contracts"
              action="hr_contract.action_hr_contract"
              parent="menu_employee_management"
              groups="hr_contract.group_hr_contract_manager"/>


    <!-- Menu Item for Lease Agreement Management -->
    <menuitem id="menu_lease_agreement"
              name="Lease Agreement"
              parent="menu_shop_root"
              action="action_lease_agreement"/>

</odoo>
